

body {
  width: 960px;
  margin: 10px auto;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

h1:first-child {
  color: white;
  text-align: center;
}

.buttons {
  width: 940px;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(160, 160, 160);
  padding: 10px;
  padding-right: 0;
}

button {
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  cursor: pointer; 
  cursor: hand;
}
button:hover {
  border: 1px solid white;
}

#answer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 1.4em;
  color: white;
}

#answer1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 1.4em;
  color: white;
}

hr {
   width: 900px;
   margin: 2px auto;
   border-color: rgb(100, 100, 100);
}


/*===========================
------- QUESTION AREA ------
============================ */

#q-area {
  height: 80px;
}

#question {
  color:white;
  text-align: center;
  font-size: .9em;
}

h2 {
  color: rgb(160, 160, 160);
  margin-bottom: 0;
}

/*===========================
------- QUOTE MACHINE ------
============================ */


#quoteMachine {
  background-color: rgb(15, 25, 35);
  padding: 10px;
  margin: 0 auto;
  display: none;
}

.header {
  margin-top: 25px;
  text-align: center;
}

.header h1 {
  color: rgb(210, 220, 230);
}

.header button {
  font-size: 1.2em;
  color: rgb(210, 220, 230);
  background-color: rgb(160, 10, 70);
  cursor: pointer;
  margin-bottom: 30px;
  width: 280px;
  padding: 4px;
}

.tweet {
  text-align: center;
  margin-top: 20px;
}

.quote {
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.author {
  text-align:center;
  margin-top: 10px;
  font-size: 1.1em;
}
